name: Get latest release tag
on:
  push:
    branches: 
      - master

    paths:
      # Run when file is edited
      - .github/workflows/get-last-release-pigpio.yml

  schedule:
    - cron:  '0 10 * * *'
env:
  # Repo info here:
  REPO_OWNER: joan2937
  REPO_TITEL: pigpio

jobs:
  get-version:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v2

      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
          
      - name: Fetch release tag
        run: |
          # Use github API to get latest release (tag_name)
          RELEASE_TAG=$( curl -sL https://api.github.com/repos/$REPO_OWNER/$REPO_TITEL/releases/latest | jq -r ".tag_name" )
          # Save the release as github environment variable to be used at later steps
          echo "RELEASE_TAG=$RELEASE_TAG" >> $GITHUB_ENV
          # Print the found release
          echo Release tag $RELEASE_TAG
          # Save the found release to a file in folder(folder must be there before)
          echo $RELEASE_TAG > release-versions/$REPO_TITEL-latest.log

      - name: Create Pull Request
        if: steps.git-check.outputs.modified == 'true'
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.PAT }}
          commit-message: Update ${{ env.REPO_TITEL }} to ${{ env.RELEASE_TAG }}
          committer: bot_${{ github.event_name }}@users.noreply.github.com
          # author cant be changed from owner when using PAT issue#48
          branch: auto-new-${{ env.REPO_TITEL }}-release
          delete-branch: true
          title: Update ${{ env.REPO_TITEL }} to ${{ env.RELEASE_TAG }}
          body: |
            Update ${{ env.REPO_TITEL }} to release ${{ env.RELEASE_TAG }}
            
            - Auto-generated by [create-pull-request][1]
            
            [1]: https://github.com/peter-evans/create-pull-request
          labels: auto-pr
